{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "current"
        }
      }
    ],
    "@babel/preset-typescript"
  ],
  "ignore": [
    "node_modules"
  ],
  "comments": false,
  "plugins": [
    [
      "babel-plugin-module-resolver",
      {
        "alias": {
          "@root": "./src/",
          "@configs": "./src/configs",
          "@models": "./src/models",
          "@controllers": "./src/controllers"
        }
      }
    ]
  ]
}
